body {
    height: 100vh;
    width: 100%;
    margin: 0rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(205, 52, 52);
}

.left-bar, .right-bar { 
    height: 100vh;
    width: 20%;
    background-color: #fff;
}

.content{
    height: 90vh;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}

.nofication {
    display: flex;
    justify-content: center;
}

.cards {
    height: 100%;
    width: 90%;
    background-color: red;
}